@page "/mapcleaner"

@inject ILanguageContainerService LanguageService;
@inject IIndexedDbCache<ContentTag, IOrderedFileRecords, IFileRecord> IndexedDbCache

<MudText Typo="Typo.h5">Map Cleaner</MudText>

<MudText Typo="Typo.subtitle1" Class="mt-8">@LanguageService["basic"]</MudText>

<MudCheckBox @bind-Checked="@resnapObjects" Label="ResnapObjects" Color="Color.Primary" Class="d-flex"></MudCheckBox>
<MudCheckBox @bind-Checked="@resnapBookmarks" Label="ResnapBookmarks" Color="Color.Primary" Class="d-flex"></MudCheckBox>
<MudCheckBox @bind-Checked="@removeUnusedSamples" Label="RemoveUnusedSamples" Color="Color.Primary" Class="d-flex"></MudCheckBox>
<MudCheckBox @bind-Checked="@removeMuting" Label="RemoveMuting" Color="Color.Primary" Class="d-flex"></MudCheckBox>
<MudCheckBox @bind-Checked="@removeUnclickables" Label="RemoveUnclickables" Color="Color.Primary" Class="d-flex"></MudCheckBox>


<MudText Typo="Typo.subtitle1" Class="mt-4">@LanguageService["advanced"]</MudText>

<MudCheckBox @bind-Checked="@usesVolumeChangesInSliders" Label="UsesVolumeChangesInSliders" Color="Color.Primary" Class="d-flex"></MudCheckBox>
<MudCheckBox @bind-Checked="@usesSampleSetChanges" Label="UsesSampleSetChanges" Color="Color.Primary" Class="d-flex"></MudCheckBox>
<MudCheckBox @bind-Checked="@usesVolumeChangesInSpinners" Label="UsesVolumeChangesInSpinners" Color="Color.Primary" Class="d-flex"></MudCheckBox>

<MudSelect Class="mt-4" AdornmentColor="Color.Primary" T="string" Label="Signatures" HelperText="Pick the relevant signatures" MultiSelection="true" @bind-SelectedValues="selectedSignatures">
    @foreach(var sig in signatures) {
        <MudSelectItem Value="sig">@sig</MudSelectItem>
    }
</MudSelect>

<div class="d-flex">
    @if(beatmaps.Count > 0) {
        <MudSelect AdornmentColor="Color.Primary" T="IFileRecord" Label="Beatmaps" HelperText="Select beatmap to clean" @bind-Value="selectedBeatmap">
            @foreach(var map in beatmaps) {
                <MudSelectItem Value="map">@map.Name</MudSelectItem>
            }
        </MudSelect>
        <MudIconButton Icon="@Icons.Material.Filled.DoubleArrow" Color="Color.Secondary" OnClick="RunTool" Size="Size.Large" Class="ma-5" />
    }
    else {
        <MudText Typo="Typo.subtitle1">Could not find any uploaded beatmap files to clean</MudText>
    }
</div>

@code {
    bool resnapObjects = true;
    bool resnapBookmarks;
    bool removeUnusedSamples;
    bool removeMuting;
    bool removeUnclickables;

    bool usesVolumeChangesInSliders = true;
    bool usesSampleSetChanges = true;
    bool usesVolumeChangesInSpinners;

    HashSet<string> selectedSignatures = new HashSet<string>();

    string[] signatures = {
        "1/4",
        "1/6",
        "1/8",
        "1/12"
    };

    IFileRecord selectedBeatmap;

    List<IFileRecord> beatmaps;

    protected override void OnInitialized() {
        IndexedDbCache.CacheHasChanged += OnCacheChanged;

        LanguageService.InitLocalizedComponent(this);

        LoadBeatmaps();
    }

    void RunTool() {
        // TODO: Implement run method
        Console.WriteLine("NOT IMPLEMENTED");
    }

    void LoadBeatmaps() {
        var maps = IndexedDbCache.Cache.GetValueOrDefault(ContentTag.OsuBeatmap);

        beatmaps = maps != null ? maps.OrderedRecords : new List<IFileRecord>();
    }

    void OnCacheChanged(object sender, EventArgs e) {
        LoadBeatmaps();

        StateHasChanged();
    }
}
