@inject ILanguageContainerService I18n
@inject IMappingToolsSettingsService Settings

@using Mapping_Tools_Core.BeatmapHelper.BeatDivisors

<div>
    <MudText Typo="Typo.h5">Defaults</MudText>

    <MudCheckBox @bind-Checked="@ResnapObjects" Label="@I18n["tools_mapCleaner_resnapObjects"]" Color="Color.Secondary" Class="d-flex"></MudCheckBox>
    <MudCheckBox @bind-Checked="@ResnapBookmarks" Label="@I18n["tools_mapCleaner_resnapBookmarks"]" Color="Color.Secondary" Class="d-flex"></MudCheckBox>
    <MudCheckBox @bind-Checked="@RemoveMuting" Label="@I18n["tools_mapCleaner_removeMuting"]" Color="Color.Secondary" Class="d-flex"></MudCheckBox>
    <MudCheckBox @bind-Checked="@RemoveUnclickables" Label="@I18n["tools_mapCleaner_removeUnclickables"]" Color="Color.Secondary" Class="d-flex"></MudCheckBox>

    <MudCheckBox @bind-Checked="@UsesVolumeChangesInSliders" Label="@I18n["tools_mapCleaner_usesVolumeChangesInSliders"]" Color="Color.Secondary" Class="d-flex"></MudCheckBox>
    <MudCheckBox @bind-Checked="@UsesVolumeChangesInSpinners" Label="@I18n["tools_mapCleaner_usesVolumeChangesInSpinners"]" Color="Color.Secondary" Class="d-flex"></MudCheckBox>
    <MudCheckBox @bind-Checked="@UsesSampleSetChanges" Label="@I18n["tools_mapCleaner_usesSampleSetChanges"]" Color="Color.Secondary" Class="d-flex"></MudCheckBox>

    <MudSelect ToStringFunc="@divisorConverter" Class="mt-4" AdornmentColor="Color.Secondary" T="double" Label="@I18n["signatures"]" HelperText="@I18n["tools_mapCleaner_signatureHelpText"]" MultiSelection="true" @bind-SelectedValues="SelectedDivisors">
        @foreach(var sig in Signatures) {
            <MudSelectItem Value="sig.Divisor"></MudSelectItem>
        }
    </MudSelect>

    <div class="d-flex justify-flex-end">
        <MudButton Color="Color.Primary" Class="ml-auto" OnClick="WriteSettings">Apply</MudButton>
    </div>
</div>

@code {
    public class Signature {
        public string DisplayName { get; set; }
        public double Divisor { get; set; }
    }

    public static Signature[] Signatures = {
        new Signature {
            DisplayName = "1/4",
            Divisor = 1/.4
        },
        new Signature {
            DisplayName = "1/6",
            Divisor = 1/.6
        },
        new Signature {
            DisplayName = "1/8",
            Divisor = 1/.8
        },
        new Signature {
            DisplayName = "1/12",
            Divisor = 1/.12
        }
    };

    Func<double, string> divisorConverter = o => Signatures.First(x => x.Divisor == o).DisplayName;

    bool ResnapObjects;
    bool ResnapBookmarks;
    bool RemoveMuting;
    bool RemoveUnclickables;
    bool UsesVolumeChangesInSliders;
    bool UsesVolumeChangesInSpinners;
    bool UsesSampleSetChanges;
    HashSet<double> SelectedDivisors = new HashSet<double>();

    protected override void OnInitialized() {
        I18n.InitLocalizedComponent(this);

        LoadSettings();
    }

    async Task WriteSettings() {
        Settings.Settings.MapCleaner.ResnapObjects = ResnapObjects;
        Settings.Settings.MapCleaner.ResnapBookmarks = ResnapBookmarks;
        Settings.Settings.MapCleaner.RemoveMuting = RemoveMuting;
        Settings.Settings.MapCleaner.RemoveUnclickables = RemoveUnclickables;
        Settings.Settings.MapCleaner.UsesVolumeChangesInSliders = UsesVolumeChangesInSliders;
        Settings.Settings.MapCleaner.UsesVolumeChangesInSpinners = UsesVolumeChangesInSpinners;
        Settings.Settings.MapCleaner.UsesSampleSetChanges = UsesSampleSetChanges;
        Settings.Settings.MapCleaner.SelectedSignatures = SelectedDivisors.Select(o => Signatures.FirstOrDefault(x => x.Divisor == o)).ToHashSet<Signature>();

        await Settings.WriteToLocalStorageAsync();
    }

    void LoadSettings() {
        ResnapObjects = Settings.Settings.MapCleaner.ResnapObjects;
        ResnapBookmarks = Settings.Settings.MapCleaner.ResnapBookmarks;
        RemoveMuting = Settings.Settings.MapCleaner.RemoveMuting;
        RemoveUnclickables = Settings.Settings.MapCleaner.RemoveUnclickables;
        UsesVolumeChangesInSliders = Settings.Settings.MapCleaner.UsesVolumeChangesInSliders;
        UsesVolumeChangesInSpinners = Settings.Settings.MapCleaner.UsesVolumeChangesInSpinners;
        UsesSampleSetChanges = Settings.Settings.MapCleaner.UsesSampleSetChanges;
        SelectedDivisors = Settings.Settings.MapCleaner.SelectedSignatures.Select(o => o.Divisor).ToHashSet<double>();
    }
}
